{"name": "sp-miami-atlantico",
  "uni_a": {"dpid": "cc:4e:24:4b:11:00:00:00",
            "port": "242",
            "tag": {"tag_type": "VLAN",
                    "value": 3790}},
  "uni_z": {"dpid": "00:03:34:17:eb:14:5c:00",
            "port": "225",
            "tag": {"tag_type": "VLAN",
                    "value": 3790}},
  "bandwidth": 10000000000} 
